<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="../../public/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>headers}}
        <p>{{msg}}</p>
    </div>
    {{>footers}}

</body>

</html>